.sign-in-and-sign-up {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @media screen and (max-width: 800px) {
        display: grid;
        grid-template-columns: 1fr;
    }
}